.dataTablePreview {
  margin-left: 1.25rem;

  > button {
    background: transparent !important;
    border: 0 !important;
    color: #0b2e13 !important;
    font-weight: bold;
    outline: none !important;

    &:hover {
      background: transparent !important;
      color: #0b2e13 !important;
    }
  }
}

.wrapper {
  max-height: 80vh;
  overflow: auto;

  table {
    width: 100%;
  }
}
