.dataTablePreview {
  margin-left: 1.25rem;

  > span {
    cursor: pointer;
    color: #0b2e13;
    font-weight: bold;
    margin-left: 10px;
    outline: none;

    &:hover {
      color: #000;
    }
  }
}

.wrapper {
  max-height: 80vh;
  overflow: auto;

  table {
    width: 100%;
  }
}
