.homeworkAnswer {
  h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.info {
  margin-bottom: 10px;
}

.chartPreview {
  max-height: 400px;
  overflow: auto;
}

.wordCount {
  color: #9e9e9e;
  font-size: 14px;
  margin-top: 5px;
}