.homeworkAnswer {
  h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.info {
  margin-bottom: 10px;

  h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.chartPreview {
  max-height: 400px;
  overflow: auto;
}

.wordCount {
  color: #9e9e9e;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;
  margin-top: 5px;
}

.withTooltip {
  color: #d7700a;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.customTooltip {
  > div:nth-of-type(2) {
    strong {
      color: #d7700a;
      font-weight: bold;
      margin-right: 5px;
    }
  }
}

.sampleObservationButton {
  cursor: pointer;
}

.observationImage {
  display: block;
  width: 100%;
}

.sampleObservationDialog {
  > div {
    background: transparent;
    box-shadow: none;
    border: 0;
    padding: 0;
    position: relative;
  }
}